// HN size, color
$h1Size: 44pt;
// $h1Color: rgb(0, 0, 0);
$h2Size: 30pt;
// $h2Color: rgb(0, 0, 0);
$h3Size: 25px;
// $h3Color: rgb(0, 0, 0);
$h4Size: 22px;
// $h4Color: rgb(0, 0, 0);
$h5Size: 12px;
// $h5Color: rgb(0, 0, 0);
$h6Size: 12px;
// $h6Color: rgb(0, 0, 0);
// HN font
$pSize: 20px;

$allColor: #343434;
$allColorHover: #757575;

$menuBgColor: #4e6bbb;
$menuColor: #ffffff;
$sidePadding: 0 80px;
// $lienInterneColor:

$hnFontFamily: "Roboto", sans-serif;
