doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name='Les accessoires de Splitboard', content='Les accessoires techniques pour faire du Splitboard')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Splitboard-Accessoire
        include head.pug
    body
    include menuequipement.pug
    .container
        br
        br
        h1 Les accessoires pour le splitboard
        br
        <p style="text-align: justify; text-justify: inter-word;">Une fois que vous avez trouvé un splitboard et les <strong>fixations</strong> adaptés à vous, il est nécessaire d'investir dans du matériel spécifique et technique pour venir complémenter l’ensemble de votre équipement. Nous vous suggérons les accessoires suivant:</p>
        <h2>Les bottes:</h2><p style="text-align: justify; text-justify: inter-word;">Pour les «rideurs» qui on deja leur bottes et qui se posent la question, oui les <strong>bottes</strong> de planche à neige sont les mêmes que les bottes pour le <strong>splitboard</strong>. Vous pouvez vous sauver de cette dépense. Sinon, demander conseil au vendeur en boutique pour vous aider à trouver des bottes adaptées à vous.</p>
        <h2>Les Peaux de randonnée:</h2><p style="text-align: justify; text-justify: inter-word;"> Fait en nylon et simple à installer, crucial pour la monter en <strong>ski de fond</strong>.</p>
        <h2>Les bâtons pliables:</h2><p style="text-align: justify; text-justify: inter-word;"> Faire de la <strong>randonnée</strong> est beaucoup plus agréable et pratique avec des bâtons. Pour le splitboard, nous vous suggérons d’investir dans des pôles pliables pour pouvoir les ranger dans votre sac à dos pour une descente plus agréable.</p>
        <h2>Les crampons:</h2><p style="text-align: justify; text-justify: inter-word;"> Pour une meilleure adhérence dans les montées rigides et glacées.</p>
        <h2>Un sac à dos:</h2><p style="text-align: justify; text-justify: inter-word;"> De plus, vous auriez besoin d'un bon sac à dos technique pour transporter tout votre <strong>équipement.</strong></p>
        br
        br
        img(src="images/Equippement_C.jpg", alt="L'équipement de splitboard")
        br
        br 
        br
        br
