doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name='Les origines du Splitboard', content="Découvert par Brett «Kowboy» Kobernik ainsi que Marc «Wally» Wariakois, Fondateur de Voilé, un manufacturier d'équipements de ski.")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Splitboard-À propos
        include head.pug
    body
    include menu.pug
    .container
        br
        br
        h1 MIQ, des passionnés du Splitboard!
        br
        <p style="text-align: justify; text-justify: inter-word;">La planche à neige, ancêtre du <strong>splitboard</strong>, est apparu dans les années 60. Il resta interdit dans la plupart des stations de ski jusqu'aux années 80 en raison de sa pratique qui était considérée comme non sérieuse et obstructive aux skieurs. En 1990 la communauté des <strong>sports d'hiver</strong> s'est rendue à l'évidence que les «rideurs» (ceux qui pratiquent la planche à neige) seraient là pour rester. Leur passion est maintenant considérée comme un sport à part entière. </p> 
        br
        <p style="text-align: justify; text-justify: inter-word;">Cinq ans plus tard sont apparues les premières <strong>splitboards</strong> commerciales. Elles furent développées par Brett «Kowboy» Kobernik ainsi que Marc «Wally» Wariakois, Fondateur de Voilé, un manufacturier d'équipements de ski. Leur objectif était de permettre aux gens de pratiquer un sports d'hiver dans des recoins plus isolés et naturels, d'où l'idée de réunir le sport du <strong>ski de fond</strong> et de la planche à neige.</p> 
        br
        <p style="text-align: justify; text-justify: inter-word;">25 ans plus tard en 2020 fût fondée MIQ, une compagnie crées par des rideurs à but non lucratif par des passionnées qui a pour but d'amener le sport du splitboard à la population en générale. Nous sommes financés par le ministère de l'Éducation du Québec pour promouvoir les loisirs d’hiver. Qui de mieux placé pour partager notre passion qu'une équipe de vétérane réunissant plus de 15 ans d'expérience dans ce <strong>sport extrême</strong>.</p>
        br
        br
        img(src="images/Cover_C.jpg" alt="Des amis qui préparent leur équipement pour la descente.")
        br 
        br
        br 
        br