doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="L'équipement de Splitboard" content="Recommandation pour trouver l'équipement de Splitboard adapter à vous")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Splitboard-Equipement
        include head.pug
    body
    include menuequipement.pug
    .container
        br
        br
        h1 L'équipements 
        br
        <p style="text-align: justify; text-justify: inter-word;">Pour pratiquer le <strong>splitboard</strong>, vous aurez besoin d’un minimum <strong>d’équipement</strong>. Une planche à neige de style splitboard facilement séparable en deux pièces pour chaque un des deux sports. Des bottes de planche à neige ainsi que des fixations spécialement conçues pour la planche. Il faudra aussi certains accessoires. </p>
        br
        h2 Splitboard
        br
        h3 Comment choisir son splitboard
        <p style="text-align: justify; text-justify: inter-word;"> Que ce soit de monter la montagne de votre centre de ski préféré, ou d’aller en <strong>hors-piste</strong>, acquérir un splitboard vous donnera la liberté que vous recherchez. Mais pour que cette expérience soit agréable vous devez avoir la planche qui sera la mieux adaptée à vos besoins.</p>
        br
        h3 Regardons ce qu’il faut savoir pour bien choisir sa planche à neige 
        <p style="text-align: justify; text-justify: inter-word;"> Si vous êtes du genre à partir dans les hauts sommets et vous évader dans les <strong>sous-bois</strong> des montagnes, une planche légère vous aidera à vous déplacer plus facilement et conserver vos énergies. Il y a des planches faites de fibres de carbone et d’autres en fibre de verre pour améliorer votre performance. La forme de la planche aura aussi un impact sur votre type de descente. La longueur de la planche est très semblable à ce qui s’applique aux planche à neige standard. Nous avons une charte qui peut vous servir de référence lors de votre achat. Rappelez-vous qu’une planche plus longue aidera à mieux flotter sur la neige, mais sera un peu moins manœuvrable qu’une plus courte.</p>
        br
        br
        img(src="images/Chart_C.jpg" alt="Charte de mesure pour la planche")
        br
        br
        br
        h2 Les Bottes
        br
        h3 Un autre élément à considérer est la flexibilité de la planche 
        <p style="text-align: justify; text-justify: inter-word;">Un splitboard est généralement plus rigide que les planches à neige standard dues au fait qu’elles doivent fournir un support parfait pour les montées lorsqu’elle est séparée en <strong>ski de fond.</strong></p>
        <p style="text-align: justify; text-justify: inter-word;">Si vous aimez dévaler les pentes à toute allure, une planche qui est très rigide vous donnera une meilleur performance. En revanche, si vous êtes plutôt du genre à descendre sur plusieurs types de terrain différents sans nécessairement vouloir une montée d’adrénaline à chaque descente, une planche avec une flexibilité moindre sera plus versatile.</p>
        <p style="text-align: justify; text-justify: inter-word;">Pour ce qui est de choisir entre une botte dure et une botte souple, voici quelques points à savoir.</p>
        br
        h3 Les bottes souples
        h4 Avantages:
        <p style="text-align: justify; text-justify: inter-word;">Elles sont moins chères, plus confortables et prennent moins de temps à se former à votre pied qu’une botte rigide.</p>
        h4 Désavantages:
        <p style="text-align: justify; text-justify: inter-word;">Cependant, leur durabilité est moindre car elles perdront de leur rigidité plus rapidement. Les <strong>fixations</strong> des bottes souples permettent habituellement une enjambée moins grande lors des montées et du fait que la botte est moins rigide, chaque mouvement sera un peu moins efficace.</p>
        br
        h3 Les bottes rigides
        h4 Avantages:
        <p style="text-align: justify; text-justify: inter-word;">Elles sont plus efficaces pour les mouvements lors des montées et elles seront aussi plus durables et plus agiles.</p>
        h4 Désavantages:
        <p style="text-align: justify; text-justify: inter-word;">Elles coutent plus cher et elles sont moins confortables que les <strong>bottes</strong> souples.</p>
        <p style="text-align: justify; text-justify: inter-word;">Les autres éléments à vérifier sur les fixations seront leur niveau de flexibilité. Elles seront généralement plus rigides que celles des planches à neige standards. Cela favorisera les montées lorsqu’elles seront utilisées pour le ski de fond.</p>
        <p style="text-align: justify; text-justify: inter-word;">Derniers points importants est la compatibilité avec les crampons. Lorsque les conditions sont glacées, les crampons seront votre seul moyen de ne pas tomber. La majorité des manufacturiers de <strong>fixations</strong> ont leurs propres modèles de crampons. Lors de votre achat, vérifier comment les crampons s’attachent car lorsque vous serez sur une pente glacée, vous ne voulez pas que ce soit compliqué à installer.</p>
        br
        br
        img(src="images/bottes_C.jpg" alt="image de botte de planche à neige")
        br
        br
        br
        h2 Les Fixations
        br
        h3 Comment choisir ses fixations
        <p style="text-align: justify; text-justify: inter-word;">Avec la popularité des <strong>splitboards</strong>, les innovations dans le domaine des fixations à fait en sorte de les rendre plus légères, plus efficaces et plus faciles à installers. Pour bien choisir les fixations, il faut connaître certains points, comme le poids, la flexibilité et l’angle d’inclinaison.</p>
        <p style="text-align: justify; text-justify: inter-word;">Il faut mentionner que c’est possible d’utiliser vos fixations conventionnelles de votre planches à neige avec un splitboard avec certains adapteurs, mais les <strong>fixations</strong> spécifiques aux splitboards rendront votre expérience beaucoup plus agréable.</p>
        br
        h3 Fixations pour bottes souples ou bottes dures
        <p style="text-align: justify; text-justify: inter-word;">Il existe des fixations pour les deux types de <strong>bottes</strong>. La majorité des splitboards utilisent les <strong>fixations</strong> pour bottes souples. Elles ont le même type d’attaches que celle des planches à neige avec un support pour le talon tout aussi efficace. Leurs différences avec les fixations conventionnelles de planche à neige, sont qu’elles peuvent pivoter pour permettre de positionner les pieds pour faire de la planche à neige et pour faire du ski de fond idéale pour pouvoir monter en montagnes ou bien tout simplement se déplacer lorsque le terrain ne permet pas de glisser.</p>
        br
        br 
        br
        br


