doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="Le fonctionnement du Splitboard", content="Le fonctionnement et la préparation technique de l'équipement.")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Splitboard-Fonctionnement 
        include head.pug
    body
    include menuequipement.pug
    .container
        br
        br
        h1 Comment ça fonctionne?
        br
        <p style="text-align: justify; text-justify: inter-word;"> Un <strong>splitboard</strong> est semblable à une planche à neige standard, mais il peut être séparé en deux parties. Les deux moitiés sont utilisées comme <strong>skis de fond</strong> pour gravir la montagne. Une fois que vous avez atteint le sommet, vous enlevez la peau en dessous, rattachez les deux parties ensemble et ajustez le positionnement de vos fixations pour descendre en <strong>planche à neige</strong>. Nous vous recommandons d'apporter un sac à dos afin que vous puissiez ranger les peaux et les bâtons pliables pour libérer vos mains durant la balade.</p>
        br
        br
        img(src="images/SkinTech_C.jpg", alt="Technique pour enlever la peau en dessous de la planche.")
        br
        br
        br
        br
        h2 Pistes d'essai pour débutant!
        br
        <p style="text-align: justify; text-justify: inter-word;"> Il est fortement conseillé de commencer à pratiquer sur une station de ski. Non seulement c'est plus sécuritaire, mais vous bénéficierez de tous les avantages tel que : les sentiers bien entretenus, possibilité de commander dans les restaurants et manger au chaud, salles de bain confortables et sécurité sur place. Une fois que vous avez fait l'expérience et que vous vous sentez à l'aise avec tout votre équipement, vous pouvez maintenant commencer à planifier pour une vraie sortie en <strong>plein air</strong>.</p>
        br
        br 
        br
        br