doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(title="À propos" description="Nous organiserons vos sorties et vous assisterons dans votre préparation. Le Canada possède plusieurs destinations de choix pour la pratique de sports d’hiver")
    title Splitboard-Communauté
    include head.pug
  body
  include menu.pug
  .container
    br
    br
    h1 Splitboard! Redécouvrez l'hiver!
    br
    <p style="text-align: justify; text-justify: inter-word;">Connaissez-vous le <a class='liensInternes' href="/instructions">splitboard</a>? Vous êtes au bon endroit pour apprendre! Ce sport de glisse encore méconnu gagne de plus en plus d’adeptes d’année en année. En effet, penser à tout l’équipement nécessaire à la pratique de cette activité peut sembler intimidant, d’autant plus qu’elle demande une certaine maîtrise du <strong>ski de fond</strong> ainsi que de la <strong>planche à neige</strong>. </p>
    <p style="text-align: justify; text-justify: inter-word;">Vous pourriez avoir besoin d’une équipe expérimentée qui saura répondre à toutes vos questions en terme de <strong>splitboard</strong>. Laissez le MIQ vous convaincre des bienfaits et du plaisir que peut vous apporter ce <strong>sport extrême</strong>. Que vous soyez expert, intermédiaire ou débutant, nous avons quelque chose à vous offrir. Nous avons rassemblé pour vous toute l’information dont vous aurez besoin que ce soit du côté technique ou du côté du matériel requis. En partenariat avec les boutiques spécialisées, nous vous faciliterons l’accès aux meilleurs équipements.</p>
    <p style="text-align: justify; text-justify: inter-word;">Nous organiserons vos sorties et vous assisterons dans votre préparation. Le Canada possède plusieurs destinations de choix pour la pratique de <strong>sports d’hiver</strong>. Il serait dommage de ne pas en profiter. Donc enfilez votre équipement et venez nous joindre à l’aventure! </p>
    <p style="text-align: justify; text-justify: inter-word;"><a class="liensInternes" href="mailto:info@MIQsplitboard.qc.ca">N’hésitez pas à nous contacter pour plus d’information, MIQ est ici pour vous.</a></p>
    br
    br
    img(src="images/Packing_C.jpg" alt="Des amis qui préparent leur équipement pour la descente.")
    br 
    br
    br
    br
  //- <div class="container text-justify p-0">
  //-   <div class="card">
  //-     <div class="card-body">
  //-       <form action="/" method="post">

  //-       <h3>Sign in</h3>
  //-       <label>Username</label><br>
  //-       <input type="text" name="username" value="" placeholder="Username, Email..." maxlength="100" autofocus required><br>
  //-       <br>
  //-       <label>Password</label><br>
  //-       <input type="text" name="password" value="" placeholder="Password..." maxlength="100" required><br>
  //-       <br>
  //-       <input class="reserver" type="submit"  value="Connecter">
  //-     </div>
  //-   </div>
  //- </div>
