doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="Qu'est-ce que le splitboard?" content="Cette nouvelle technologie nous permet de combiner le ski de fond pour la montée et le snowboard pour la descente, en réduisant le poids de votre équipement pour un meilleur confort tout au long de votre journée.")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Splitboard-Instructions
        include head.pug
    body
    include menu.pug
    .container
        br
        br
        h1 Qu'est-ce que le splitboard?
        br
        <p style="text-align: justify; text-justify: inter-word;">Êtes-vous un snowboardeur, cherchant à vous connecter davantage avec la nature et à explorer des montagnes autres que ceux des stations de ski typiques ? Alors vous êtes au bon endroit.</p>
        <p style="text-align: justify; text-justify: inter-word;">Liberté, environnement paisible, montées contemplatives et neige non tracée ne sont que quelques-uns des avantages du <strong>splitboard</strong>. Plus de files d'attente pour les remontées mécaniques, plus de descentes sur les mêmes vieilles collines et surtout, plus de dépenses d'argent pour des billets et des forfaits de ski coûteux. Le splitboard nous offre une nouvelle façon de faire de la planche à neige. Cette nouvelle technologie nous permet de combiner le <strong>ski de fond</strong> pour la montée et de la <strong>planche à neige</strong> pour la descente, en réduisant le poids de votre équipement pour un meilleur confort tout au long de votre journée. Gardez à l'esprit que le splitboard, c'est 90% de montée en <strong>ski de fond</strong>, 5% de préparation et d'ajustement de matériel et 5% de descente en planche à neige. Alors, apprenez à profiter de la montée en ski de fond, car c'est la plus grande partie de l'expérience du splitboard.</p>
        br
        br
        img(src="images/Splitboard_C.jpg" alt="Un Splitboard et un splitboard séparer en deux pour le ski de fond.")
        br
        br
        br
        h2 Les bienfaits
        br
        <p style="text-align: justify; text-justify: inter-word;">Ce n'est pas un secret que faire de l'exercice à l'extérieur est bon pour le corps, l'esprit et l'âme. C'est là que nous trouvons la paix, nous vider la tête et profiter de la beauté de la nature tout en restant en forme et en s'amusant ! De plus, ce <strong>sport d'hiver</strong> renforce les muscles du bas du corps, améliore la flexibilité, enforce les muscles du tronc, améliore votre cardio et remonte votre moral. C'est aussi un belle occasion de se réunir avec des amis ou d'en rencontrer des nouveaux qui partagent la même passion que vous. De plus, vous pouvez faire cette activité avec vos petites bêtes de compagnon.</p>
        <p style="text-align: justify; text-justify: inter-word;"><a class='liensInternes' href="/planifier">Partez avec nous!</a></p>
        br
        br
        img(src="images/Escalade_C.jpg" alt="Des personnes en randonnées.")
        br
        br
        br
        br
