//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible" content="IE=edge")
//-         meta(name="Planifier votre sortie en Splitboard" content="Renseignez vous à l'avance sur ce que vous devez savoir sur la montagne que vous allez explorer. Vérifiez la météo du jour et consultez le rapport d'avalanche.")
//-         meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-         title Splitboard-Planifier un Sortie
//-         include head.pug
//-     body
//-     include menu.pug
//-     .container
//-         br
//-         br
//-         h1 Planifier votre sortie!
//-         br
//-         <p style="text-align: justify; text-justify: inter-word;">Le <strong>splitboard</strong> avec un guide ou une personne expérimentée est une très bonne idée pour débuter. Si vous prévoyez d'y aller seul, nous vous recommandons de suivre un cours d'initiation aux avalanches, car le splitboard en <strong>randonnée</strong> peut être dangereux. Renseignez vous à l'avance sur ce que vous devez savoir sur la montagne que vous allez <strong>explorer</strong>. Vérifiez la météo du jour et consultez le rapport d'avalanche. Emportez une paire de lunette solaire, votre lunette de ski et de la crème solaire pour les jours ensoleillés. Assurez-vous d'avoir suffisamment de vêtements chauds, de collations et de boissons. N'oubliez pas votre trousse de réparation et votre trousse de premiers soins en cas d'urgence. Il vaut mieux prévenir que guérir!</p>
//-         br
//-         img(src="images/Packing2_C.jpg" alt="Une fille qui fait sont sac pour sa sortie")
//-         br
//-         br 
//-         br
//-         br
